@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

header {
    background-color:#da291c;
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}


img.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.3);
}


nav>a {
    text-decoration: none;
    color: #ffc72c;
    margin: 0 20px;
    font-weight: 500;

}

nav>a:hover {
    text-decoration: underline;
}

/* LOGIN */
.login {
    height: 750px;
    padding: 100px;
    text-align: center;
    background-color: lightgray;
}

.login h2 {
    color: #ffc72c;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

.login-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    max-width: 800px;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
}

.login-form input,
.login-form textarea {
    width: 100%;
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.login-form input:focus,
.login-form textarea:focus {
    border-color: #007bff;
}

.login-form button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background:#da291c;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 1px 1px 6px black;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    opacity: 0.8;

}

.login-container p {
    margin: 10px;
    padding: 5px;

}

.login-container p {
    margin: 10px;
    padding: 5px;

}

.login-container a {
    color:#da291c;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #da291c;
    color: white;
}

footer p {
    margin: 0;
    margin-bottom: 25px;
}

footer>div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#icon {
    width: 30px;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#icon:hover {
    transform: scale(1.3);
}

/* RESPONSIVIDADE para 578px até 1200px */
@media (min-width: 578px) and (max-width: 1200px) {

    /* HEADER */
    header {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 25px;
    }

    nav>a {
        margin: 20px 5px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    /* LOGIN */
    .login {
        height: 750px;
        padding: 60px 30px;
    }

    .login h2 {
        font-size: 32px;
    }

    .login-container {
        width: 60%;
        padding: 40px;
    }

    .login-form {
        min-width: 260px;
    }

    .login-form input {
        padding: 12px;
        font-size: 14px;
    }

    .login-form button {
        padding: 12px;
        font-size: 15px;
    }

    .login-container p {
        font-size: 14px;
    }

    /* FOOTER */
    footer {
        padding: 20px;
    }

    footer>div {
        gap: 15px;
    }

    #icon {
        width: 25px;
    }
}

/* RESPONSIVIDADE para 1201px até 1600px */
@media (min-width: 1201px) and (max-width: 1600px) {

    /* HEADER */
    header {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 25px;
    }

    nav>a {
        margin: 20px 5px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    /* LOGIN */
    .login {
        height: 750px;
        padding: 60px 30px;
    }

    .login h2 {
        font-size: 32px;
    }

    .login-container {
        width: 30%;
        padding: 40px;
    }

    .login-form {
        min-width: 260px;
    }

    .login-form input {
        padding: 12px;
        font-size: 14px;
    }

    .login-form button {
        padding: 12px;
        font-size: 15px;
    }

    .login-container p {
        font-size: 14px;
    }

    /* FOOTER */
    footer {
        padding: 20px;
    }

    footer>div {
        gap: 15px;
    }

    #icon {
        width: 25px;
    }
}

/* RESPONSIVIDADE para até 577px */
@media (max-width: 577px) {}

    /* HEADER */
    header {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        margin-top: 15px;
    }

    nav>a {
        margin: 10px 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    /* LOGIN */
    .login {
        padding: 60px 30px;
    }

    .login h2 {
        font-size: 32px;
    }

    .login-container {
        width: 95%;
        padding: 40px;
    }

    .login-form {
        min-width: 100px;
    }

    .login-form input {
        padding: 12px;
        font-size: 14px;
    }

    .login-form button {
        padding: 10px;
        font-size: 15px;
    }

    .login-container p {
        font-size: 14px;
    }

    /* FOOTER */
    footer {
        padding: 10px;
    }

    footer>div {
        gap: 10px;
    }

    #icon {
        width: 20px;
    }

