@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}


/* header */

header {
    background-color: #da291c;
    display: flex;
    justify-content: space-between;
    padding: 35px 60px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

img.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.3);
}

span {
    color: #ffc72c;
}

nav>a {
    text-decoration: none;
    color: #ffc72c;
    margin: 0 20px;
    font-weight: 500;

}

nav>a:hover {
    text-decoration: underline;
}

.btn-logout {
    background-color: white;
    color: darkred;
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-logout:hover {
    background-color: rgb(252, 252, 71);
    text-decoration: none;
}

/* carrinho */

.carrinho {
    height: 700px;
    padding: 70px;
    background-color: lightgray;
}

.carrinho-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 65% 30%;
    gap: 20px;
    align-items: start;

}

.card-produto1,
.card-produto2,
.card-produto3 {
    grid-column: 1;
    display: flex;
    gap: 6px;
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);

}

.info {
    margin-left: 20px;
}

.info h3 {
    color: #da291c;
    font-size: 16px;
    margin-bottom: 10px;
}

.info h2 {
    font-size: 14px;
}

.ft-produto {
    width: 15%;
    height: 20%;
    border-radius: 10px;
    object-fit: cover;

}

.preco {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6px;
    width: 100%;
    gap: 10px;
}

.preco h2 {
    font-size: 16px;
    margin: 0;
}

.btn-add {
    background: #d62828;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;

}

.btn-add:hover {
    opacity: 0.8;
}


.pedido {
    grid-column: 2;
    grid-row: 1 / span 4;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
    position: sticky;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.pedido h3 {
    font-size: 22px;
    color: #da291c;
}

#lista {
    text-align: start;
    max-height: 300px;
    overflow-y: auto;
    padding: 8px;
}

.pedido h2 {
    font-size: 16px;
    margin: 0;
    text-align: end;
}

.btn-final {
    background: #d62828;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.btn-final:hover {
    opacity: 0.8;
}

/* pedido */
.item-carrinho {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #da291c;
    margin-bottom: 15px;
}

.item-carrinho img {
    width: 15%;
    height: 15%;
    object-fit: cover;
    border-radius: 10px;
}

.info-carrinho {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.info-carrinho h4 {
    margin: 0;
    font-size: 16px;
}

.info-carrinho p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.info-carrinho .btn-remover {
    background: #c62828;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-end;
    margin-top: -10px;
}

.info-carrinho .btn-remover:hover {
    background: #ffc72c;
}

/* rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #da291c;
    color: white;
}

footer p {
    margin: 0;
    margin-bottom: 25px;
}

footer>div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#icon {
    width: 30px;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#icon:hover {
    transform: scale(1.3);
}

/* RESPONSIVIDADE para 578px até 1200px */
@media (min-width: 578px)and (max-width: 1200px) {

    /* header */
    header {
        flex-direction: column;
        padding: 1px;
        text-align: center;
    }

    h1 {
        margin-top: 10px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 5px;
    }

    nav>a {
        margin: 20px 5px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .btn-logout {
        padding: 10px 15px;
        margin-top: 12px;
    }

    /* carrinho */
    .carrinho {
        height: auto;

    }

    .carrinho-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 90%;
    }

    .card-produto1,
    .card-produto2,
    .card-produto3,
    .pedido {
        width: 100%;
    }

    /* pedido */
    .item-carrinho {
        width: 60%;
    }

    .pedido {
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 10px;
    }

    .pedido h3 {
        margin: 15px;

    }

    /* rodapé */
    footer {
        padding: 20px;
    }

    footer>div {
        gap: 15px;
    }

    #icon {
        width: 25px;
    }

}

/* RESPONSIVIDADE para até 577px */
@media (max-width: 577px) {

    /* header */
    header {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
    }

    nav>a {
        margin: 5px 5px;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .btn-logout {
        padding: 10px;
        margin: 0;
    }

    /* carrinho */
    .carrinho {
        height: auto;

    }

    .carrinho-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .ft-produto {
        width: 50%;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin: 10px;
        align-items: center;
    }

    .info p {
        text-align: center;
    }

    .preco {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        width: 90%;
        gap: 20px;
    }


    .btn-add {
        width: 90%;
    }

    .card-produto1,
    .card-produto2,
    .card-produto3,
    .pedido {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* pedido */
    .item-carrinho {
        width: 90%;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    .item-carrinho img {
        width: 45%;

    }

    .info-carrinho .btn-remover {
        background: #c62828;
        color: white;
        border: none;
        padding: 4px 10px;
        border-radius: 6px;
        cursor: pointer;
        align-self: center;
        margin-top: 10px;
    }

    /* rodapé */
    footer {
        padding: 20px;
    }

    footer>div {
        gap: 15px;
    }

    #icon {
        width: 25px;
    }

}